<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ugdnyakawan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UGDnyakawan"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".volley.ActivityEditProfile"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Usertama"
            android:exported="false"
            android:label="@string/title_activity_usertama"
            android:theme="@style/Theme.UGDnyakawan.NoActionBar" />
        <activity
            android:name=".Tab.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Fragment.First2Fragment"
            android:exported="true" />
        <activity
            android:name=".Tab.EditActivityNote"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="false" />
        <activity
            android:name=".Tab.HomeActivity1"
            android:exported="false" />
        <activity
            android:name=".map.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".RegisLogin.MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisLogin.RegistrasiActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notif.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".Notif.NotificationReceiver" />
    </application>

</manifest>